/* Importing font to use */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: #333; */
}

.logo {
    width: 100px;
}

header {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 0.9rem 0;
    width: 100%;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
}

nav {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    cursor: pointer;
    transition: 1s ease-in-out;
}

nav p:hover {
    color: red;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
    transition: 1s;
}

header ul a:hover {
    color: red;
    font-weight: 400;
}

.hamburger {
    padding-left: 1.5rem
}

.hamburger {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before {
    top: -4.5px
}

.hamburger .bar::after {
    top: 4.5px;
}

.dropdown-menu #menu-icon {
    padding: 5px;
    border: none;
    color: white;
    font-size: 30px;
    z-index: 999;
    cursor: pointer;
    padding: 0px 15px;
    /* display: none; */
}

.dropdown-menu #menu-icon:hover {
    color: #fffb;

    transform: translateX(50%);
    transition: transform .5s ease-in-out;
}

.dropdown-menu #menu-icon:active {
    color: #fffb;
    font-size: 40px;

    transform: translateX(50%);
    transition: all .5s ease;
}

.dropdown-menu a {
    display: block;
    color: white;
    font-size: 0.83em;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown-menu .content {
    top: 35px;
    display: none;
    background-color: #fff3;
    position: absolute;
    min-width: 200px;
    right: 0;
    border-radius: 5%/5%;

    /* box-shadow: horizontal-position, vertical-position, blur, color */
    box-shadow: 2px 2px 7px black;
}

.dropdown-menu:hover .content {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #fff7;
    border-radius: 5%/5%;
}