/* Container for the entire skills page */
body {
    background-color: #1a1a2e;

}

.container {
    position: relative;
    top: 50px;
    margin: 0 auto;
    padding: 20px 0;
    color: #ffffff;
}

/* Title for the skills page */
.container h1 {

    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid #3f3f6f;
    margin-bottom: 20px;
}

/* Input section for adding a new character */
.character-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.character-input input {
    background-color: #3f3f6f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
}

.character-input input:focus {
    outline: 2px solid #e94560;
}

.character-input .button {
    background-color: #e94560;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.character-input .button:hover {
    background-color: #d13450;
}

/* Section for the list of character cards  */
/* .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.character-list {
    display: grid;
    grid-template-columns: repeat(3, 20fr);
    grid-gap: 10px;
}